body {
  margin: 0;
  width: 100%;
  min-height: 100vh;
}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.ymaps-2-1-79-map ymaps:nth-child(1) {
  border-radius: 15px !important;
}